*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: rgb(56, 59, 58);
  padding-bottom: 3rem;
}
